.company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* text-decoration: none; */
}
ul.company_item {
    flex-basis: 25%;
    display: block;
    text-align: center;
    /* text-decoration: none; */
    margin-top: 82px;
}
.company_item:not(:first-child) {
    border-left: 1px solid #D7D7DD;
}
.company_item:nth-child(5) {
    border-left:none;
}
li:first-child {
    display: block;
    height: 120px;
    margin: 10px 0;
}
li:nth-child(2) {
    display: block;
    text-decoration: none;
}
li:last-child {
    margin-top: 14px;
    text-decoration: none;
    display: block;
}