.contacts {
    display: flex;
    justify-content: space-between;
    table {
        border-collapse: collapse;
        flex-basis: 61%;
    }
    tr:not(:last-child) {
        border-bottom: 1px solid #E9EAF2;
    }
}
.contacts_item {
    display: flex;
    justify-content: flex-start;
}
.contacts_item img {
    margin-right: 32px;
}

.contact td:first-child {
    color: grey;
    width: 230px; 
}
tr:not(:last-child) {
    border-bottom: 1px solid #E9EAF2;
}