.header {
    position: relative;
    .descr {
        max-width: 525px;
        padding: 40px 0;
    }
    a {
        
        border-bottom: 3px solid $yellow;
    }
}
.rectangle {
    width: 600px;
    height: 737px;
    position: absolute;
    background: $green;
    z-index: -1;
    right: 0;
}
.container {
    margin: 0 auto;
    max-width: 1240px;
    padding-top: 109px;
    padding-bottom: 50px;
    .img {
        background-image: url(/img/header.png);
        width: 635px;
        height: 505px;
        background-size: 100%;
    background-repeat: no-repeat;
    }
}
.info {
    display: flex;
    justify-content: space-between;
    &_item {
        align-self: center;
    }
}

.services {
    display: flex;
    padding: 40px 0;
    background-color: #fff;
    margin-top: 67px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 22px;
    justify-content: space-around;
    &_item {
        max-width: 254px;
        position: relative;
    }
    h3 {
        margin: 0;
        padding-bottom: 16px;
        padding-top: 24px;
    }
}
.line {
    position: absolute;
    border-left: 1px solid #D7D7DD;
    height: 264px;
    left: -64px;
}

@media screen and (max-width: 770px){
    
    .container {
        max-width: 690px;
        padding-top: 0;
        padding-bottom: 88px;
        .img {
            background-image: url(/img/header-tablet.png);
            height: 314px;
            margin-top: 56px;
        }
    }
    .rectangle {
        width: 177px;
        height: 640px;
    }
    .info {
        padding-top: 56px;

        flex-direction: column;
        &_item {
            align-self: flex-start;
        }
    }
    .services {
        flex-direction: column;
        border: none;
        box-shadow:none;
        background: none;
        &_item {
            display: flex;
            max-width: 690px;
            margin-bottom: 16px;
            border-radius: 22px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        }
        &_descr {
            flex-basis: 60%;
        }
        img {
            margin: 32px;
        }
    }
}